<div
      class="table-wrapper"
      #wrapper
      (mouseleave)="onMouseLeave()"
      (dragover)="onDragOver($event)"
      (drop)="onDrop($event)"
    >
      <!-- Drop Indicator -->
      @if (dropIndicator) {
        <div
          class="drop-indicator"
          [style.top.px]="dropIndicator.top"
          [style.left.px]="dropIndicator.left"
          [style.width.px]="dropIndicator.width"
          [style.height.px]="dropIndicator.height"
        ></div>
      }

      <!-- Column Handle -->
      @if (hoveredCol !== null) {
        <div
          class="table-handle col-handle"
          [style.left.px]="colHandleLeft"
          [style.width.px]="colHandleWidth"
        >
          <button
            insIconButton
            appearance='icon'
            draggable="true"
            [insDropdown]="colHandleTemplate"
            [insDropdownOpen]="colDropdownOpen()"
            (insDropdownOpenChange)="colDropdownOpen.set($event)"
            (dragstart)="onDragStart($event, 'col', hoveredCol!)"
            (click)="selectCol(hoveredCol!)"
            [iconStart]="icons.dragHorizontalHandle"
          >
          </button>
        </div>
      }

      <!-- Row Handle -->
      @if (hoveredRow !== null) {
        <div
          class="table-handle row-handle"
          [style.top.px]="rowHandleTop"
          [style.height.px]="rowHandleHeight"
        >
          <button
            draggable="true"
            insIconButton
            appearance='icon'
            [insDropdown]="rowHandleTemplate"
            [insDropdownOpen]="rowDropdownOpen()"
            (insDropdownOpenChange)="rowDropdownOpen.set($event)"
            (dragstart)="onDragStart($event, 'row', hoveredRow!)"
            (click)="selectRow(hoveredRow!)"
            [iconStart]="icons.dragVerticalHandle"
          >
          </button>
        </div>
      }
      <!-- The Table Content -->
      <table #tableRef (mousemove)="onMouseMove($event)" data-node-view-content></table>

      <ng-template #colHandleTemplate>
        <ins-data-list>
          <button insOption (click)="addColBefore(hoveredCol!)">Add Column Before</button>
          <button insOption (click)="addColAfter(hoveredCol!)">Add Column After</button>
          <button insOption (click)="deleteCol(hoveredCol!)">Delete Column</button>
        </ins-data-list>
      </ng-template>

      <ng-template #rowHandleTemplate>
        <ins-data-list>
          <button insOption (click)="addRowBefore(hoveredRow!)">Add Row Before</button>
          <button insOption (click)="addRowAfter(hoveredRow!)">Add Row After</button>
          <button insOption (click)="deleteRow(hoveredRow!)">Delete Row</button>
        </ins-data-list>
      </ng-template>
    </div>
