:host {
  display: grid;
  gap: 8px;
  .ins-comments-quote {
    display: flex;
    align-items: center;
    .quote-text{
      border-inline-start: 3px solid var(--ins-text-tertiary);
      padding-inline-start: 8px;
      color: var(--ins-text-secondary);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      flex-grow: 1;
      cursor: pointer;
    }
  }

  .ins-comments-thread_active {
    outline: 1px solid var(--ins-background-accent-1);
    outline-offset: 2px;
  }
  .ins-comments-thread_detached {
    opacity: 0.8;
  }
  .ins-comments-meta {
    display: flex;
    gap: 6px;
    align-items: center;
    .opt-content{
      margin-inline-start: auto;
    }
  }

  .ins-comments-comment {
    display: flex;
    gap: 6px;
    margin-bottom: 4px;
    list-style: none;
    padding: 0;

    .ins-comments-author {
      color: var(--ins-text-secondary);
      flex-shrink: 0;
    }
    .ins-comments-text {
      color: var(--ins-text-primary);
      word-break: break-word;
      flex: 1 1 auto;
    }
  }
  .ins-comments-reply {
    display: flex;
    flex-direction: column;
    gap: 6px;
    .actions{
      display: flex;
      justify-content: flex-end;
    }
  }
}
