<section insToolbarBlock>
  <button insTurnIntoTool></button>
  <button insFontSizeTool></button>
</section>
<section insToolbarBlock>
  <button insBoldTool [editor]="editor"></button>
  <button insItalicTool [editor]="editor"></button>
  <button insUnderlineTool [editor]="editor"></button>
  <button insStrikeTool [editor]="editor"></button>
  <button insCodeTool [editor]="editor"></button>
</section>
<section insToolbarBlock>
  <button insAlignTool [editor]="editor"></button>
  <button insLinkTool [editor]="editor"></button>
  <button insColorTool [editor]="editor"></button>
</section>
<section insToolbarBlock>
  <button insCommentTool [editor]="editor"></button>
  <button insClearTool [editor]="editor"></button>
</section>
