<ins-editor-resizable
  #resizable
  [autoHeight]="true"
  [isEditable]="editor().isEditable"
  [width]="width"
  (sizeChange)="updateSize($event)"
>
  <img
    #img
    contenteditable="false"
    decoding="async"
    loading="lazy"
    [alt]="alt"
    [attr.width]="width"
    [src]="attrs.src | insMapper: getBypassedSrc"
    [style.max-width.px]="maxWidth"
    [style.min-width.px]="minWidth"
    [title]="title"
    [insDropdown]="linkEditingDropdown"
    [insDropdownOpen]="isLinkDropdownOpened"
    (load)="onImageLoad()"
  />

  <ng-template #linkEditingDropdown>
    <ins-edit-link
      [link]="attrs['data-href'] ?? undefined"
      (addLink)="addLink($event)"
      (removeLink)="removeLink()"
      (insActiveZoneChange)="onEditLinkActiveZoneChange($event)"
    />
  </ng-template>
  @if (editor().isEditable && containerWidth >= 68) {
    <div class="t-image-buttons" [class._open]="isAlignDropdownOpened">
      <button
        aria-label="Justify align"
        size="xs"
        title=""
        insIconButton
        type="button"
        [appearance]="style === null || style === undefined || style === '' ? 'outline' : 'flat'"
        [iconStart]="options.icons.imageExtension.alignJustify"
        (click.capture)="align(null)"
      >
        Justify align
      </button>
      <button
        aria-label="Align left"
        size="xs"
        insIconButton
        type="button"
        [appearance]="style | insMapper: getAppearance : 'float:left'"
        [iconStart]="options.icons.imageExtension.alignLeft"
        (click.capture)="align('float: left')"
      >
        Left align
      </button>
      <button
        aria-label="Align center"
        size="xs"
        insIconButton
        type="button"
        [appearance]="style | insMapper: getAppearance : 'justify-content:center'"
        [iconStart]="options.icons.imageExtension.alignCenter"
        (click.capture)="
          align('display: flex; justify-content: center; margin-left: auto; margin-right: auto;')
        "
      >
        Center align
      </button>
      <button
        aria-label="Align right"
        size="xs"
        insIconButton
        type="button"
        [appearance]="style | insMapper: getAppearance : 'float:right'"
        [iconStart]="options.icons.imageExtension.alignRight"
        (click.capture)="align('float: right')"
      >
        Right align
      </button>
      @if (supportLinkExtension) {
        <button
          appearance="flat"
          size="xs"
          insIconButton
          type="button"
          [disabled]="isLinkDropdownOpened"
          [iconStart]="options.icons.imageExtension.link"
          (click)="editLink($event)"
        >
          Image link
        </button>
      }
    </div>
  }
  @if (attrs['data-href']) {
    <button
      appearance="reference"
      size="s"
      insButton
      type="button"
      [disabled]="isLinkDropdownOpened"
      [iconStart]="options.icons.imageExtension.previewLink"
      (click)="openLink(attrs['data-href'])"
    >
      @if (containerWidth >= 170) {
        <div class="t-link-href">
          {{ attrs['data-href'] }}
        </div>
        <ins-icon
          class="t-link-preview-edit"
          [icon]="options.icons.imageExtension.previewEditLink"
          (click.self)="editLink($event)"
        />
      }
    </button>
  }
</ins-editor-resizable>
