ins-editor {
    position: relative;
    display: block;
    isolation: isolate;
    font: var(--ins-font-text-m);
    border-radius: var(--ins-radius-m);
    max-block-size: inherit;
    min-block-size: 10rem;
    box-sizing: border-box;
    overflow: auto;
}

ins-editor::after {
    content: '';
    display: table;
    clear: both;
}

[insEditorLabel] {
    font: var(--ins-font-text-s);
    color: var(--ins-text-secondary);
    pointer-events: none;
    will-change: transform;
    transform: translateY(-0.25rem);
    inline-size: 95%;
    font-size: 0.9375rem;
    margin-block-end: 1rem;
    margin: 1rem 1rem -0.375rem;
}

[insEditorScrollbar] {
    display: flex;
    padding-block-end: 0.75rem;
    box-sizing: border-box;
    flex: 1;
}

[insEditorPlaceholder] {
    position: absolute;
    color: var(--ins-text-secondary);
    letter-spacing: normal;
    text-transform: none;
    margin-block-start: 0.1875rem;
}

ins-editor > ins-editor-socket {
    display: none !important;
    visibility: hidden;
    opacity: 0;
    block-size: 0;
    inline-size: 100%;
    margin: 0;
    padding: 0;
}

[insTiptapEditor][data-contenteditable='false'] * {
    -webkit-user-drag: none;
    cursor: default;
}
