ins-editor {
  --ins-sidebar-width: 340px;

  position: relative;
  isolation: isolate;
  font: var(--ins-font-text-m);
  border-radius: var(--ins-radius-m);
  max-block-size: inherit;
  min-block-size: 10rem;
  box-sizing: border-box;
}


ins-editor > ins-editor-socket {
  display: none !important;
  visibility: hidden;
  opacity: 0;
  block-size: 0;
  inline-size: 100%;
  margin: 0;
  padding: 0;
}

ins-editor{
  &.has-sidebar{
    display: grid;
    grid-template-columns: 1fr var(--ins-sidebar-width);
    .sidebar{
      display: block;
    }
  }
  &> .sidebar {
    display: none;
    height: fit-content;
    max-height: min(calc(100vh - var(--ins-sticky-header-height, 60px) - 4px), 100%);
    padding: var(--ins-padding-m);
    overflow: auto;
    position: sticky;
    top: var(--ins-sticky-header-height, 60px);
    pointer-events: auto;
    box-sizing: border-box;
    margin: 4px;
    scrollbar-gutter: stable;
  }
}

[insTiptapEditor][data-contenteditable='false'] * {
  -webkit-user-drag: none;
  cursor: default;
}

