@if (enabled(tool.Undo)) {
    <section insToolbarBlock>
        <button
            insUndoTool
            [editor]="editor"
        ></button>
        <button
            insRedoTool
            [editor]="editor"
        ></button>
    </section>
}
@if (enabled(tool.Size)) {
    <section insToolbarBlock>
        <button insFontSizeTool></button>
    </section>
}
@if (firstBigBlockEnabled) {
    <section insToolbarBlock>
        @if (formatEnabled) {
            <button
                insFontStyleTool
                [editor]="editor"
                [enabledTools]="toolsSet"
            ></button>
        }
        @if (enabled(tool.Align)) {
            <button
                insAlignTool
                [editor]="editor"
            ></button>
        }
        @if (enabled(tool.List)) {
            <button
                insListTool
                [editor]="editor"
            ></button>
        }
        @if (enabled(tool.Quote)) {
            <button
                insBlockquoteTool
                [editor]="editor"
            ></button>
        }
        @if (enabled(tool.Link)) {
            <button
                insLinkTool
                [editor]="editor"
            ></button>
        }
        @if (enabled(tool.Anchor)) {
            <button
                insAnchorTool
                [editor]="editor"
            ></button>
        }
        @if (enabled(tool.Attach)) {
            <button
                insAttachTool
                [editor]="editor"
                (fileAttached)="fileAttached.emit($event)"
            ></button>
        }
    </section>
}
@if (enabled(tool.Sub) || enabled(tool.Sup)) {
    <section insToolbarBlock>
        @if (enabled(tool.Sub)) {
            <button
                insSubscriptTool
                [editor]="editor"
            ></button>
        }
        @if (enabled(tool.Sup)) {
            <button
                insSuperscriptTool
                [editor]="editor"
            ></button>
        }
    </section>
}
@if (enabled(tool.Color) || enabled(tool.Hilite)) {
    <section insToolbarBlock>
        @if (enabled(tool.Color)) {
            <button
                insTextColorTool
                [colors]="options.textColors ?? options.colors"
                [editor]="editor"
            ></button>
        }
        @if (enabled(tool.Hilite)) {
            <button
                insHighlightColorTool
                [colors]="options.backgroundColors ?? options.colors"
                [editor]="editor"
            ></button>
        }
    </section>
}
@if (secondBigBlockEnabled) {
    <section insToolbarBlock>
        @if (enabled(tool.Code)) {
            <button
                insCodeTool
                [editor]="editor"
            ></button>
        }
        @if (enabled(tool.Tex)) {
            <button
                insTexTool
                [editor]="editor"
                (texClicked)="texClicked.emit($event)"
            ></button>
        }
        @if (enabled(tool.Img)) {
            <button
                insImageTool
                [editor]="editor"
            ></button>
        }
        @if (enabled(tool.HR)) {
            <button
                insHrTool
                [editor]="editor"
            ></button>
        }
    </section>
}
@if (enabled(tool.Clear)) {
    <section insToolbarBlock>
        <button
            insClearTool
            [editor]="editor"
        ></button>
    </section>
}
@if (enabled(tool.Details)) {
    <section insToolbarBlock>
        <button
            insDetailsAddTool
            [editor]="editor"
        ></button>
        <button
            insDetailsRemoveTool
            [editor]="editor"
        ></button>
    </section>
}
@if (enabled(tool.Group)) {
    <section insToolbarBlock>
        <button
            insInsertGroupTool
            [editor]="editor"
        ></button>
        <button
            insRemoveGroupTool
            [editor]="editor"
        ></button>
    </section>
}
@if (enabled(tool.Table)) {
    <section insToolbarBlock>
        <button
            insInsertTableTool
            [editor]="editor"
        ></button>
        <button
            insAddRowTableTool
            [editor]="editor"
        ></button>
        <button
            insTableMergeCellTool
            [editor]="editor"
        ></button>
    </section>
}
@if (enabled(tool.CellColor)) {
    <section insToolbarBlock>
        <button
            insPaintTool
            [colors]="options.backgroundColors ?? options.colors"
            [editor]="editor"
        ></button>
    </section>
}
<section insToolbarBlock>
    <ng-content />
</section>
