
.ins-column-list {
  display: flex;
  gap: 0.75rem;
  align-items: stretch;
  margin-block: 0.5rem;
  .ins-column {
    padding: 0.5rem;
    border-radius: 0.5rem;
    border: 1px dashed rgba(24, 90, 219, 0.18);
  }

}

