@import '@liuk123/insui/styles/ins-ui-global.less';

ul:not([data-type]),
ol:not([data-type]) {
  list-style-type: revert;
  margin: 1rem 1rem 1rem 1.5rem;
  padding: 0;

  li {
    margin: 0.75rem 0;
  }

}
