@import '@liuk123/insui/styles/ins-ui-global.less';

.ProseMirror {
  audio {
    width: 100%;
  }
  video {
    max-width: 100%;
  }
}
.bn-visual-media-wrapper{
  .bn-visual-media{
    width: 100%;
  }
  &[data-align='center']{
    margin-inline: auto;
  }
  &[data-align='left']{
    margin-inline-end: auto;
  }
  &[data-align='right']{
    margin-inline-start: auto;
  }
}
