<div class="legal">
  liuk123 版权所有 • 架构于 Angular 和 <a [routerLink]="['/ins-ui']">InsUI (UI框架)</a> • <span>现已稳定运行：{{sub}}</span>
  <br>
  <a target="_blank" rel="noopener nofollow noreferrer"
    href="https://beian.mps.gov.cn/#/query/webSearch?code=37011202002381">
    <!-- <img src="../../../../assets/image/common/beian.png" alt="备案"
      style="vertical-align: middle;width:1.1em;height:1.1em;" /> -->
    鲁公网安备37011202002381号
  </a>/
  <a href="https://beian.miit.gov.cn" rel="noopener nofollow noreferrer" target="_blank">鲁ICP备19005783号-3</a> • 
  <a href="/sitemap.xml" target="_blank">Sitemap</a> • 
  <a href="/rss.xml" target="_blank">Rss</a>
</div>