

@if(!floatingToolbar && editorLoaded()){
  <ins-toolbar-host [disabled]="!interactive()">
    <ins-toolbar  [tools]="tools" (fileAttached)="fileAttached.emit($event)">
      <ng-content select="tools" />
    </ins-toolbar>
  </ins-toolbar-host>
}
<ins-editor-socket />
<div
  insDropdownDirection="bottom"
  insDropdownLimitWidth="auto"
  insTiptapEditor
  class="ins-editor-socket"
  [attr.data-contenteditable]="interactive()"
  [editable]="interactive()"
  [insDropdown]="dropdownTemp"
  [insToolbarDropdown]="dropdownSelectionHandler"
  [insToolbarDropdownPosition]="floatingToolbar ? 'selection' : 'tag'"
  (valueChange)="onModelChange($event)"

></div>
<ng-template #dropdownTemp>
  1222222222222222222222222222
  @if(floatingToolbar){
    <ins-toolbar-host [disabled]="!interactive()">
      <ins-toolbar  [tools]="tools" (fileAttached)="fileAttached.emit($event)">
        <ng-content select="tools" />
      </ins-toolbar>
    </ins-toolbar-host>
  }
</ng-template>
