<!-- @if (!floatingToolbar && editorLoaded()) {
  <ins-toolbar-host [disabled]="!interactive()">
    <ins-toolbar [tools]="tools" (fileAttached)="fileAttached.emit($event)">
      <ng-content select="tools" />
    </ins-toolbar>
  </ins-toolbar-host>
} -->

<div
  insDropdownDirection="bottom"
  insDropdownLimitWidth="auto"
  insTiptapEditor
  class="ins-editor-socket"
  [attr.data-contenteditable]="interactive()"
  [editable]="interactive()"
  [insDropdown]="dropdownTemp"
  [insToolbarDropdown]="dropdownSelectionHandler"
  [insToolbarDropdownPosition]="floatingToolbar ? 'selection' : 'tag'"
  (valueChange)="onModelChange($event)"
></div>

<ins-editor-socket />

<ng-template #dropdownTemp>
  @if (floatingToolbar) {

    @if (isFloatMenu) {
      <!-- /命令菜单 -->
      <ins-toolbar-host [disabled]="!interactive()">
        <ins-float-menu></ins-float-menu>
      </ins-toolbar-host>
    }@else if(isImageMenu){
      <!-- 图片菜单 -->
      <ins-toolbar-host [disabled]="!interactive()">
        <ins-image-menu></ins-image-menu>
      </ins-toolbar-host>
    }@else{
      <!-- 气泡菜单 -->
      <ins-toolbar-host [disabled]="!interactive()">
        <ins-bubble-menu></ins-bubble-menu>
      </ins-toolbar-host>
      @if (isLinkSelected) {
        <ins-edit-link
          #link
          insEditorRootEditLink
          (addLink)="link.anchorMode ? addAnchor($event) : addLink($event); closeDropdown()"
          (removeLink)="link.anchorMode ? removeAnchor() : removeLink(); closeDropdown()"
        ></ins-edit-link>
      }
    }
  }
  <!-- 自定义菜单 -->
  <ng-container
    *polymorpheusOutlet="insDropdownOpen?.insDropdownOpen() ? dropdownContent : null as text"
  >
    {{ text }}
  </ng-container>
</ng-template>

<!-- 拖拽菜单 -->
@if (editorLoaded()) {
  <ins-drag-handle [dragHandleContent]="dragHandle" [insertHandleContent]="insertHandle" [style.display]="focused() ? 'block' : 'none'"></ins-drag-handle>
  <ins-table-handle [style.display]="focused() ? 'block' : 'none'"></ins-table-handle>
}

<!-- 拖拽菜单的下拉框 -->
<ng-template #dragHandle>
  <ins-drag-handle-menu></ins-drag-handle-menu>
</ng-template>
<ng-template #insertHandle>
  <ins-insert-handle-menu (fileAttached)="fileAttached.emit($event)"></ins-insert-handle-menu>
</ng-template>
