<div
  insTiptapEditor
  class="ins-editor-socket"
  [attr.data-contenteditable]="interactive()"
  [editable]="interactive()"
  (valueChange)="onModelChange($event)"
  (click)="focus($event)"
></div>
 
<ins-editor-socket />

@if(editor()) {
<tiptap-bubble-menu [editor]="editor()">
  <ins-bubble-menu></ins-bubble-menu>
</tiptap-bubble-menu>
}
<!-- <ng-template #dropdownTemp>
  @if(isLinkSelected){
    <ins-edit-link
      #link
      insEditorRootEditLink
      (addLink)="link.anchorMode ? addAnchor($event) : addLink($event); closeDropdown()"
      (removeLink)="link.anchorMode ? removeAnchor() : removeLink(); closeDropdown()"
    ></ins-edit-link>
  }
</ng-template> -->
