@import (inline) '../../styles/editor.less';
@import (inline) '../../styles/editor-toolbar.less';
@import (inline) '../../styles/bubble-menu.less';
@import (inline) '../../styles/float-menu.less';

@import (inline) '../../styles/drag-handle.less';
@import (inline) '../../styles/edit-link.component.less';
@import (inline) '../../styles/toolbar-host.style.less';
@import (inline) '../../styles/palette.less';
@import (inline) '../../styles/collaboration.less';

.ins-mention {
  color: #185adb;
  background: rgba(24, 90, 219, 0.12);
  border-radius: 999px;
  padding: 4px 8px;
}

