:host {
  position: absolute;
  z-index: 50;
  display: flex;
  column-gap: 0.125rem;
  pointer-events: auto;
  visibility: hidden;

  &.visible {
    visibility: visible;
    animation: fadeIn 0.2s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
