:host {
  position: absolute;
  z-index: 50;
  display: flex;
  pointer-events: auto;
  visibility: hidden;
  background: var(--ins-background-base);
  border: 1px solid var(--ins-border-normal);
  border-radius: var(--ins-radius-s);

  &.visible {
    visibility: visible;
    animation: fadeIn 0.2s ease-in-out;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
