<button
  insIconButton
  appearance="flat"
  iconStart="plus"
  size="xs"
  class="drag-handle-button"
  [insDropdown]="insertHandleContent()"
  insDropdownDirection="bottom"
  insDropdownLimitWidth="auto"
  [(insDropdownOpen)]="insertOpen"
></button>
<button
  insIconButton
  appearance="flat"
  iconStart="grip-vertical"
  size="xs"
  class="drag-handle-button"
  draggable="true"
  (dragstart)="onDragStart($event)"

  [insDropdown]="dragHandleContent()"
  insDropdownDirection="bottom"
  insDropdownLimitWidth="auto"
  [(insDropdownOpen)]="dragOpen"
></button>

