<button
  insIconButton
  appearance="flat"
  [iconStart]="positionSelectionSrv.activeIcon()"
  size="xs"
  class="drag-handle-button"
  [insDropdown]="insertHandleContent()"
  insDropdownLimitWidth="auto"
  [(insDropdownOpen)]="insertOpen"
></button>
<button
  #dragHandleBtn
  insIconButton
  appearance="flat"
  iconStart="grip-vertical"
  size="xs"
  class="drag-handle-button"
  draggable="true"

  [insDropdown]="dragHandleContent()"
  insDropdownLimitWidth="auto"
  [(insDropdownOpen)]="dragOpen"
></button>

