<button
  aria-label="Justify align"
  size="s"
  title=""
  insIconButton
  type="button"
  [iconStart]="options.icons.imageExtension.alignJustify"
  appearance="icon"
>
  Justify align
</button>
<button
  aria-label="Align left"
  size="s"
  insIconButton
  type="button"
  [iconStart]="options.icons.imageExtension.alignLeft"
  appearance="icon"
>
  Left align
</button>
<button
  aria-label="Align center"
  size="s"
  insIconButton
  type="button"
  [iconStart]="options.icons.imageExtension.alignCenter"
  appearance="icon"
>
  Center align
</button>
<button
  aria-label="Align right"
  size="s"
  insIconButton
  type="button"
  [iconStart]="options.icons.imageExtension.alignRight"
  appearance="icon"
>
  Right align
</button>
